<!DOCTYPE html>
<html>
<head>
<title>Registration details</title>
</head>
<body backgroundcolor="blue">
<form>
  <fieldset>
    <legend>Personal Details</legend>
    <label>
      Salutation <br>
    <select name="salutation" id="">
    <option>Mr</option>
    <option>Mr</option>
    <option>Dr</option>
    <option>Prof</option>
    </select>
    <br>
    </label>
    <label for="firstname">firstname</label>
    <input type="text" id="firstname" name="firstname" /><br>
    <label for="lastname">lastname</label>
    <input type="text" id="lastname" name="lastname" /><br>
    <label for="Gender">Gender: </label>
    <input type="radio" id="Male" name="Male" >
    <label for="Male">Male</label>
    <input type="radio" id="Female" name="Female" >
    <label for="Female">Female</label><br>
    <label for="DOB">DOB: </label>
    <input type="date" id="DOB" name="DOB" /><br>
    <label for="Email">Email: </label>
    <input type="Email" id="Email" name="Email" /><br>
    <label for="Address">Address: </label>
    <textArea rows="3" cols="10" name="Address"></textArea><br>
    <button type="submit">Submit</button>
  </fieldset>
</form>

</body>
</html>


  
